h1 {
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
table {
  border-collapse: collapse;
  width: 100%;
}
tr, td, th {
  border: 1px solid black;
  vertical-align: top;
}
th {
  background: black;
  color: white;
  border-right: 1px solid #888;
}
td#appname {
  text-align: center;
  width: 100%;
}
table h1, table li, table pre {
  padding: 0 0.5em 0 0.5em;
}
#message {
  position: absolute;
  bottom: 1em;
  width: 100%;
}
#help {
  display: none;
  background: white;
  border: 1px solid;
  position: fixed;
  z-index: 1;
  left: 20%;
  top: 20%;
  width: 60%;
  padding: 0 2em 2em 2em;
}
#help .key {
  text-align: right;
  font-weight: bold;
}
#help tr, #help td, #help th {
  padding: 0.5em;
  border: none;
}

/* ================ black on white ================ */
.default {
  background: white;
  color: black;
}
.reverse-default {
  background: black;
  color: white;
}
.default-border {
  border: 1px solid black;
}

/* ================ green on black ================ */
.green {
  background: black;
  color: #0f0;
}
.reverse-green {
  background: #0f0;
  color: black;
}
.green-border {
  border: 1px solid #0f0;
}

/* ================ amber on black ================ */
.amber {
  background: black;
  color: #f80;
}
.reverse-amber {
  background: #f80;
  color: black;
}
.amber-border {
  border: 1px solid #f80;
}

/* ================ white on blue ================ */
.blue {
  background: blue;
  color: white;
}
.reverse-blue {
  background: white;
  color: blue;
}
.blue-border {
  border: 1px solid white;
}
